# Même projet Supabase que les autres apps
# NEXT_PUBLIC_SUPABASE_URL=
# NEXT_PUBLIC_SUPABASE_ANON_KEY=

# URL de l’app mairie (documentation / liens futurs)
NEXT_PUBLIC_COLLECTIVITES_APP_URL="http://localhost:3004"
